<a href="https://colab.research.google.com/github/yula00/DAP_2022/blob/main/lecture6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

# Cars93 data
In this lab, we would like to explore data about 93 number of vehicles.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i

# Drop Missing Value

In [ ]:
dfNoMissing = df###########
dfNoMissing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 2 to 90
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Manufacturer        20 non-null     object
 1   Model               20 non-null     object
 2   Type                20 non-null     object
 3   Min.Price           20 non-null     float64
 4   Price               20 non-null     float64
 5   Max.Price           20 non-null     float64
 6   MPG.city            20 non-null     float64
 7   MPG.highway         20 non-null     float64
 8   AirBags             20 non-null     object
 9   DriveTrain          20 non-null     object
 10  Cylinders           20 non-null     object
 11  EngineSize          20 non-null     float64
 12  Horsepower          20 non-null     float64
 13  RPM                 20 non-null     float64
 14  Rev.per.mile        20 non-null     float64
 15  Man.trans.avail     20 non-null     object
 16  Fuel.tank.capacity  20 non-null     float64
 17  Passengers          20 non-null     float64
 18  Length              20 non-null     float64
 19  Wheelbase           20 non-null     float64
 20  Width               20 non-null     float64
 21  Turn.circle         20 non-null     float64
 22  Rear.seat.room      20 non-null     float64
 23  Luggage.room        20 non-null     float64
 24  Weight              20 non-null     float64
 25  Origin              20 non-null     object
 26  Make                20 non-null     object
dtypes: float64(18), object(9)
memory usage: 4.4+ KB

# Scaling
**[TODO]** Rescale the numeric attribute using z-score. You can use Scikit-learn or Pandas

In [ ]:
from sklearn.preprocessing import StandardScaler
# filter data with numeric attirbute
dfNumeric = dfNoMissing################

# create a scaler object
stdScaler = StandardScaler()

# fit and transform the data
dfStd = pd.DataFrame(####################)

dfStd.head()

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight
0,1.714462,1.909199,2.006788,-0.689169,-1.030448,0.085718,0.936406,0.468046,0.088902,0.255073,-0.074744,-0.060346,-0.108605,-0.256332,-0.318616,-0.154074,-0.209020,0.684456
1,1.194212,1.083765,0.954326,-1.550630,-1.284879,2.571534,1.139696,-1.952883,-1.807669,2.118481,1.420127,2.008662,1.791984,2.195540,1.897842,0.808890,2.229546,1.934368
2,0.469014,0.334759,0.200537,-1.335265,-1.030448,1.971509,0.885583,-1.630093,-1.748401,2.118481,1.420127,1.893717,1.791984,1.972642,1.066670,0.423704,1.881179,1.600487
3,-0.082767,-0.123815,-0.155025,-0.043073,-0.521585,0.257153,0.148656,-0.338930,-0.286461,-0.019856,1.420127,0.112071,0.162908,-0.033435,0.789613,0.808890,-0.209020,0.187915
4,2.282008,1.970342,1.608559,-0.689169,-1.030448,0.514307,0.301124,-0.661721,-0.889017,-0.019856,1.420127,1.261520,0.977446,0.189463,1.620785,2.927411,0.836080,1.018336

# Encoding
Filter categorical attribute and remove unnessary attribute using `.drop()` 
* unnessary attribute: `Manufacturer`,	`Model`, `Make`

In [ ]:
dfFilter = dfNoMissing####################
dfFilter.head()

       Type             AirBags DriveTrain Cylinders Man.trans.avail   Origin
2   Compact         Driver only      Front         6             Yes  non-USA
7     Large         Driver only       Rear         6              No      USA
17    Large         Driver only       Rear         8              No      USA
20  Compact  Driver & Passenger      Front         4              No      USA
21    Large         Driver only      Front         6              No      USA

**[TODO]** Encode remaining categorical attiribute into numeric attribute using label encoding.

In [ ]:
from sklearn.preprocessing import LabelEncoder

# create a encoder object
enc = LabelEncoder()

# create empthy dataframe 
dfEnc = pd.DataFrame()

# fill up data frame with encoded attribute using iteration
for col in dfFilter.columns:
  dfEnc[col] = ##############

dfEnc.head()

   Type  AirBags  DriveTrain  Cylinders  Man.trans.avail  Origin
0     0        1           1          2                1       1
1     1        1           2          2                0       0
2     1        1           2          3                0       0
3     0        0           1          1                0       0
4     1        1           1          2                0       0

Merge `df_enc` and `df_std`.

In [ ]:
dfProcessed = ################
dfProcessed

,Type,AirBags,DriveTrain,Cylinders,Man.trans.avail,Origin,Min.Price,Price,Max.Price,MPG.city,...,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight
0,0,1,1,2,1,1,1.714462,1.909199,2.006788,-0.689169,...,0.088902,0.255073,-0.074744,-0.060346,-0.108605,-0.256332,-0.318616,-0.154074,-0.209020,0.684456
1,1,1,2,2,0,0,1.194212,1.083765,0.954326,-1.550630,...,-1.807669,2.118481,1.420127,2.008662,1.791984,2.195540,1.897842,0.808890,2.229546,1.934368
2,1,1,2,3,0,0,0.469014,0.334759,0.200537,-1.335265,...,-1.748401,2.118481,1.420127,1.893717,1.791984,1.972642,1.066670,0.423704,1.881179,1.600487
3,0,0,1,1,0,0,-0.082767,-0.123815,-0.155025,-0.043073,...,-0.286461,-0.019856,1.420127,0.112071,0.162908,-0.033435,0.789613,0.808890,-0.209020,0.187915
4,1,1,1,2,0,0,2.282008,1.970342,1.608559,-0.689169,...,-0.889017,-0.019856,1.420127,1.261520,0.977446,0.189463,1.620785,2.927411,0.836080,1.018336
5,3,2,1,1,1,0,-1.123268,-0.674105,-0.240359,1.249118,...,0.533410,-0.875191,-0.074744,-0.405181,-0.651630,-0.479229,-0.595673,-0.731853,-1.254119,-1.164730
6,3,2,1,1,1,1,-1.296685,-1.316109,-1.278598,1.249118,...,0.938407,-1.272310,-0.074744,-0.750015,-1.194656,-1.147922,-0.872730,-0.924445,-1.254119,-1.079120
7,3,2,1,1,1,1,-1.202094,-1.270252,-1.292821,1.249118,...,0.266705,-0.875191,-1.569614,-0.979905,-0.787387,-0.479229,-1.149787,-0.539260,0.487713,-1.113364
8,3,2,1,1,1,1,-0.650313,-0.765820,-0.837702,1.033753,...,-0.029634,-0.478071,-0.074744,-0.520126,-0.651630,-0.479229,-0.595673,-0.731853,-0.557386,-0.916460
9,0,1,1,1,1,1,-0.114297,-0.016814,0.072534,0.603023,...,0.533410,-0.172594,-0.074744,0.169544,0.027151,0.189463,0.512556,0.423704,-0.209020,-0.008989
10,2,2,2,2,0,0,-0.019706,-0.261388,-0.467919,-0.904534,...,-0.997675,0.591097,-0.074744,1.031630,1.384715,1.081053,-0.041559,-0.154074,0.139347,1.086825
11,0,1,1,1,1,1,-0.319245,-0.139101,0.015645,0.172292,...,-0.207437,-0.050404,-0.074744,-0.002874,0.027151,-0.256332,0.512556,0.038519,-0.209020,0.127988
12,0,2,1,1,0,0,-0.319245,-0.475389,-0.595921,0.172292,...,0.286461,-0.264237,-0.074744,0.399434,0.027151,-0.256332,0.235499,-0.154074,-0.209020,-0.111722
13,2,2,1,2,1,0,0.059119,0.288902,0.484986,-0.904534,...,-0.681580,0.132882,-0.074744,0.801741,0.705933,0.858155,0.789613,0.038519,0.487713,0.812871
14,1,0,1,2,0,0,0.689726,1.190765,1.594337,-0.904534,...,-1.323648,0.591097,1.420127,-0.232763,1.113202,1.303950,1.343727,0.808890,1.184446,0.889921
15,3,2,0,0,1,1,-1.217859,-1.254966,-1.235931,2.110579,...,1.264380,-2.097097,-1.569614,-2.014409,-1.737681,-1.816614,-1.703902,-1.887409,-1.602486,-1.592782
16,3,2,0,1,1,1,-0.713374,-0.872820,-0.979927,0.387657,...,2.252177,-0.050404,-0.074744,-0.347708,-0.787387,-0.702127,-0.872730,-0.346667,0.139347,-0.830849
17,3,2,1,1,1,1,-0.997147,-1.147965,-1.235931,0.387657,...,0.622312,-1.119572,-1.569614,-1.037378,-1.330412,-1.147922,-1.149787,-0.924445,-1.602486,-1.258902
18,0,2,1,1,1,1,0.405953,0.518189,0.598765,-0.473804,...,0.889017,0.743836,-0.074744,-0.060346,0.027151,-0.256332,-0.872730,1.194075,-0.209020,0.016694
19,4,2,1,2,1,1,1.241507,1.022621,0.783657,-1.119899,...,0.296339,0.743836,-1.569614,-1.267268,-0.787387,-0.479229,-0.595673,-0.924445,0.139347,-0.282943

# Todo!
---
** 목표 : 국민건강보험공단 건강검진 정보 데이터를 활용하여 scaling, encoding, correlation 해결하기**

# KNN Imputation & Z-score Standardization
---
KNN Imputation 와 Z-score Standardization 사용할때의 순서에 따른 값이 어떻게 다른지, 어떠한 효과가 있는지 비교하기

## 1.KNN Imputation 사용 후 Z-score Standardization 사용하기

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/juyoung-han/DAP/main/lab6_health_data_edit.CSV')
df

,year,height,weight,waist,eyesight,blood_pressure,sugar_level,drinking,smoking,dental_checkup,cavity,plaque
0,2022,165,60.0,72.1,1.2,79.0,90.0,False,non,False,False,NaN
1,2022,150,65.0,81.0,0.8,73.0,87.0,False,non,False,True,NaN
2,2022,155,55.0,70.0,0.6,80.0,102.0,False,non,False,NaN,NaN
3,2022,160,70.0,90.8,1.0,84.0,146.0,False,non,True,False,good
4,2022,155,50.0,75.2,1.5,89.0,110.0,False,NaN,False,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
994,2022,160,65.0,82.0,1.2,82.0,117.0,True,past,False,NaN,NaN
995,2022,165,70.0,92.0,0.5,78.0,106.0,True,smoker,False,NaN,NaN
996,2022,165,70.0,88.0,1.2,70.0,100.0,False,past,True,False,good
997,2022,155,55.0,80.2,0.5,65.0,99.0,True,non,True,True,verybad
998,2022,150,55.0,79.5,1.0,74.0,107.0,False,non,False,NaN,NaN

###1.1 데이터형태 파악 및 불필요한 데이터 삭제하기
---
불필요한 데이터는 `.drop()` 을 이용하여 없애주세요 
* unnessary attribute: `year`

In [ ]:
df.################
df.head()

,height,weight,waist,eyesight,blood_pressure,sugar_level,drinking,smoking,dental_checkup,cavity,plaque
0,165,60.0,72.1,1.2,79.0,90.0,False,non,False,False,NaN
1,150,65.0,81.0,0.8,73.0,87.0,False,non,False,True,NaN
2,155,55.0,70.0,0.6,80.0,102.0,False,non,False,NaN,NaN
3,160,70.0,90.8,1.0,84.0,146.0,False,non,True,False,good
4,155,50.0,75.2,1.5,89.0,110.0,False,NaN,False,True,NaN

In [ ]:
df.#############

,height,weight,waist,eyesight,blood_pressure,sugar_level
count,999.000000,953.000000,999.000000,999.000000,990.000000,990.000000
mean,160.715716,62.261280,81.714214,0.920621,76.468687,103.080808
std,9.150449,12.079131,9.489783,0.654915,9.385386,23.617519
min,135.000000,35.000000,53.000000,0.100000,46.000000,65.000000
25%,155.000000,55.000000,75.000000,0.700000,70.000000,91.000000
50%,160.000000,60.000000,81.500000,0.900000,77.000000,98.000000
75%,170.000000,70.000000,88.000000,1.000000,82.000000,108.000000
max,190.000000,120.000000,128.000000,9.900000,116.000000,367.000000

### 1.2 결측치의 위치 찾기
---
`weight` 에는 곳곳에 결측치가 있습니다. 결측치를 채우는 것이 목표입니다. 결측치를 처리할때 Scaling을 먼저하느냐 나중에 하느냐의 순서가 중요한지, 어떠한 영향을 끼치는지를 알아보려고 합니다. 따라서 Imputer와 Scaler 순서에 따른 결측치 채움값을 알아보겠습니다. 그러러면 먼저 결측치의 위치가 어디인지를 알아야합니다.
`weight`에서 결측치 있는곳의 `index`를 찾아주세요.

In [ ]:
null_index = #####################
null_index

array([  6,  19,  33,  51,  70,  91, 110, 128, 143, 152, 161, 170, 189,
       204, 213, 228, 234, 243, 255, 270, 285, 297, 309, 324, 336, 348,
       357, 372, 400, 421, 436, 454, 469, 511, 565, 592, 616, 663, 691,
       748, 784, 832, 876, 905, 956, 983])

### 1.3 KNNImputer 사용하기
Hint: `[Lecture Note] 5_Data Preprocessing '30page'`

* use : `n_neighbors=5, weights=uniform`

In [ ]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(####################)

df_imputed = pd.DataFrame(################
                          ################)
df_imputed

     height  weight  waist  eyesight  blood_pressure  sugar_level
0     165.0    60.0   72.1       1.2            79.0         90.0
1     150.0    65.0   81.0       0.8            73.0         87.0
2     155.0    55.0   70.0       0.6            80.0        102.0
3     160.0    70.0   90.8       1.0            84.0        146.0
4     155.0    50.0   75.2       1.5            89.0        110.0
..      ...     ...    ...       ...             ...          ...
994   160.0    65.0   82.0       1.2            82.0        117.0
995   165.0    70.0   92.0       0.5            78.0        106.0
996   165.0    70.0   88.0       1.2            70.0        100.0
997   155.0    55.0   80.2       0.5            65.0         99.0
998   150.0    55.0   79.5       1.0            74.0        107.0

[999 rows x 6 columns]

### 1.4 StandardScaler 사용하기
* Hint : `[Lecture Note] 6_Data Preprocessing Part2 '15page'`

In [ ]:
from sklearn.preprocessing import StandardScaler

# create a scaler object
std_scaler = StandardScaler()

# fit and transform the data
imputed_scaler = pd.DataFrame(################
                              ################)

imputed_scaler.head()

     height    weight     waist  eyesight  blood_pressure  sugar_level
0  0.468439 -0.183055 -1.013620  0.426803        0.272652    -0.558222
1 -1.171646  0.235034 -0.075299 -0.184270       -0.369600    -0.685705
2 -0.624951 -0.601143 -1.235021 -0.489806        0.379694    -0.048288
3 -0.078256  0.653122  0.957908  0.121266        0.807862     1.821469
4 -0.624951 -1.019232 -0.686789  0.885107        1.343072     0.291668

### 1.5 결측치 채워진 값 확인하기
* 위에서 null값이었던 index를 저장해뒀던 null_index 기억하시죠? 
`weight`의 인덱스에 어떤 값으로 채워져있는지 확인해보세요.

In [ ]:
IS_index = pd.DataFrame(###################)
IS_index.head()

      weight
6   0.318651
19 -0.015820
33 -1.102850
51 -1.270085
70 -0.601143

## 2.Z-score Standardization 사용 후 KNN Imputation 사용하기

### 2.1 Z-score Standardization

In [ ]:
from sklearn.preprocessing import StandardScaler

# create a scaler object
std_scaler = StandardScaler()

# fit and transform the data
df_std = pd.DataFrame(##################
                         #################)

df_std.head()

     height    weight     waist  eyesight  blood_pressure  sugar_level
0  0.468439 -0.187304 -1.013620  0.426803        0.269844    -0.554140
1 -1.171646  0.226851 -0.075299 -0.184270       -0.369771    -0.681229
2 -0.624951 -0.601458 -1.235021 -0.489806        0.376447    -0.045786
3 -0.078256  0.641005  0.957908  0.121266        0.802857     1.818179
4 -0.624951 -1.015613 -0.686789  0.885107        1.335869     0.293117

### 2.2 KNN Imputation 
* use : `n_neighbors=5, weights= uniform`

In [ ]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(##################)

scaled_imputer = pd.DataFrame(###################
                              ######################)
scaled_imputer.head()

     height    weight     waist  eyesight  blood_pressure  sugar_level
0  0.468439 -0.187304 -1.013620  0.426803        0.269844    -0.554140
1 -1.171646  0.226851 -0.075299 -0.184270       -0.369771    -0.681229
2 -0.624951 -0.601458 -1.235021 -0.489806        0.376447    -0.045786
3 -0.078256  0.641005  0.957908  0.121266        0.802857     1.818179
4 -0.624951 -1.015613 -0.686789  0.885107        1.335869     0.293117

### 2.3 결측치 채워진 값 확인하기

In [ ]:
SI_index = pd.DataFrame(#################)
SI_index.head()

      weight
6   0.144020
19 -0.104473
33 -1.181274
51 -1.429767
70 -0.518627

# Encoding

## 3.One Hot Encoding 사용하기
---
plaque(이빨의 치석상태)는 환자의 상태에 따라 good, verygood, bad, verybad 으로 진단되어있다. 이 값을 one hot encoding 을 이용하여 벡터화 한다.

### 3.1 결측치 삭제하기 
* 치석 정보가 있는 환자들만 확인하기 위해 치석 상태를 표현 하지 않은 데이터들을 drop 해준다.

In [ ]:
dfNoMissing = ###############
dfNoMissing

,height,weight,waist,eyesight,blood_pressure,sugar_level,drinking,smoking,dental_checkup,cavity,plaque
3,160,70.0,90.8,1.0,84.0,146.0,False,non,True,False,good
7,160,65.0,92.0,0.5,79.0,93.0,False,smoker,True,False,verygood
12,175,80.0,90.0,0.8,80.0,114.0,True,smoker,True,False,good
16,160,65.0,90.0,0.6,88.0,94.0,True,non,True,False,verybad
27,155,60.0,82.0,0.5,85.0,104.0,True,non,True,False,good
...,...,...,...,...,...,...,...,...,...,...,...
988,170,75.0,88.0,1.2,77.0,102.0,True,smoker,True,False,good
989,170,70.0,77.0,0.7,84.0,99.0,True,smoker,True,True,verybad
991,160,60.0,87.0,0.8,79.0,127.0,True,smoker,True,False,verybad
996,165,70.0,88.0,1.2,70.0,100.0,False,past,True,False,good
997,155,55.0,80.2,0.5,65.0,99.0,True,non,True,True,verybad

### 3.2 numeric 이 아닌 데이터 선택하기

In [ ]:
import pandas as pd
df_Filter = ##################
df_Filter

     drinking smoking  dental_checkup cavity    plaque
3       False     non            True  False      good
7       False  smoker            True  False  verygood
12       True  smoker            True  False      good
16       True     non            True  False   verybad
27       True     non            True  False      good
..        ...     ...             ...    ...       ...
988      True  smoker            True  False      good
989      True  smoker            True   True   verybad
991      True  smoker            True  False   verybad
996     False    past            True  False      good
997      True     non            True   True   verybad

[311 rows x 5 columns]

### 3.3 one-hot encoding
* `plaque`에 대해 one-hot encoding

In [ ]:
df_onehot = pd.###################
df_onehot.head()

,drinking,smoking,dental_checkup,cavity,Teeth_bad,Teeth_good,Teeth_verybad,Teeth_verygood
3,False,non,True,False,0,1,0,0
7,False,smoker,True,False,0,0,0,1
12,True,smoker,True,False,0,1,0,0
16,True,non,True,False,0,0,1,0
27,True,non,True,False,0,1,0,0

# Correlation

### 4. 여러 속성들 간의 상관관계 파악하기
Ref : `[Lecture Note] 6_Data Preprocessing Part2 'page34'`

### 4.1 Scaling 후 Imputation 한 값을 이용해서 상관관계 파악하기
---
각자 원하는 numeric 데이터를 가지고 상관관계 분석 후 유의미한 값 파악하기

* Hint : `1.KNN Imputation 사용 후 Z-score Standardization 사용하기` 문제의 `scaled_imputer` 사용

In [ ]:
corr_diagonsis = ########################
corr_diagonsis

weight            1.000000
waist             0.786807
height            0.687785
blood_pressure    0.287829
sugar_level       0.125813
eyesight          0.093866
Name: weight, dtype: float64

### 4.2 유의미하다고 판단되는 값 출력하기
* `corr_diagonsis` 가 0.4 이상인경우 출력

In [ ]:
corr_diagonsis######################

weight    1.000000
waist     0.786807
height    0.687785
Name: weight, dtype: float64